    @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Syncopate&display=swap');
    * {
        box-sizing: border-box;
        font-family: Raleway;
        color: rgba(119, 119, 119, 0.507);
    }
    
    html,
    body {
        padding: 0;
        margin: 0;
    }
    
    .navbar ul {
        margin: 0;
    }
    
    .navbar li {
        display: inline;
    }
    
    .navbar a {
        display: inline-block;
        padding: .5em;
        color: rgb(199, 134, 148);
        text-decoration: none;
    }
    
    .main-nav {
        text-align: center;
        font-size: 1.1em;
        font-weight: lighter;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    
    .main-nav li {
        padding: 0 5%;
    }
    
    .navbar a:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    .main-header {
        background-color: rgba(0, 0, 0, .2);
        background-image: url("images/bp4.jpg");
        background-blend-mode: multiply;
        background-size: cover;
        padding-bottom: 900px;
    }
    
    .name {
        text-align: center;
        margin: 0;
        font-size: 10em;
        font-family: Syncopate;
        font-weight: normal;
        color: rgb(199, 134, 148);
    }
    
    .name-large {
        font-size: 9em;
    }
    
    .content-section {
        margin: 1em;
    }
    
    .content-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 0 1.5em;
    }
    
    .section-header {
        font-family: cosmo;
        font-weight: normal;
        text-align: center;
        font-size: 2.5em;
    }
    
    .about-img {
        float: left;
        height: 200px;
        margin: 15px;
        border-radius: 50%;
    }
    
    .main-footer {
        background-color: lightpink;
        color: white;
        padding: .25em 0;
    }
    
    .main-footer-container {
        display: flex;
        align-items: center;
    }
    
    .main-footer-container ul {
        flex-grow: 1;
        text-align: end;
    }
    
    .footer-nav li {
        padding: 0 .5em;
    }
    
    .footer-nav img {
        height: 30px;
        width: 30px;
    }
    
    .name2 {
        font-size: 80px;
        color: rgb(199, 134, 148);
    }
    
    .btn {
        text-align: center;
        vertical-align: middle;
        padding: .67em;
        cursor: pointer;
    }
    
    .btn-header {
        margin: .5em 15% 2em 15%;
        color: white;
        border: 2px solid pink;
        background-color: rgba(223, 159, 196, 0.2);
        border-radius: 0;
        font-size: 1.5em;
        font-weight: lighter;
        padding-left: 2em;
        padding-right: 2em;
    }
    
    .btn-header:hover {
        background-color: rgba(255, 255, 255, 0.199);
    }
    
    .btn-play {
        display: block;
        margin: 0 auto;
        color: lightpink;
        font-size: 4em;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding: 0;
        width: 100px;
        height: 100px;
    }
    
    .tour-row {
        border-bottom: 1px solid black;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }